.navi {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: flex-end;
  background-color: #d6d8da;
}
.navi a {
  margin: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  color: rgb(52, 51, 51);
  cursor: pointer;
  font-weight: 300;
}
.center {
  align-items: center;
  flex-direction: column;
}
.ms-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 30;
  height: 40%;
  width: 40%;
  min-width: 600px;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
}
.ms-box span {
  font-weight: 300;
  font-size: 1.5rem;
}
.img-box {
  min-width: 600px;
  width: 40%;
  position: relative;
}
.img-profile {
  position: absolute;
  top: -2rem;
  left: 2rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
  .navi a {
    font-size: 1rem;
    font-weight: 100;
  }
  .img-profile {
    width: 5em;
    height: 5em;
  }
  .img-box {
    min-width: 300px;
    width: 40%;
  }
  .ms-box {
    height: 30%;
    width: 40%;
    min-width: 300px;
  }
  .ms-box span {
    font-weight: 100;
    font-size: 1.2rem;
  }
}
